html, body {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
}

#master {
    width: 100%;
    height: 100%;

    background: linear-gradient(rgb(224,224,224), rgb(88,88,88));
}

.center-items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hcenter-items {
    display: flex;
    align-items: center;
}

#options {
    width: 30%;
    height: 95%;

    border: 1px solid black;

    float: left;
}

    .dropdown {
        width: 100%;
        height: 5%;

        border-bottom: 1px solid black;
    }

    .dropdown-icon {
        width: 10%;
        height: 100%;

        float: left;
        background-color: red;
    }

    .dropdown-name {
        width: 85%;
        height: 100%;

        padding-left: 5%;
        font-size: 20px;
    }

#viewer {
    width: 65%;
    height: 95%;

    margin-left: 2%;

    border: 1px solid black;
}
