html, body {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
}

#master {
    width: 100%;
    height: 100%;

    background: linear-gradient(rgb(224,224,224), rgb(88,88,88));
}

.center-items {
    display: flex;
    align-items: center;
    justify-content: center;
}

#options {
    width: 30%;
    height: 95%;

    border: 2px solid black;

    float: left;
}

#viewer {
    width: 65%;
    height: 95%;

    margin-left: 2%;

    border: 2px solid black;
}
