<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>HistoToolKit Graph</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/graph.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>

  <body>
    <canvas id="graphCanvas" resize></canvas>

    <!-- Javascript -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/paper-full.min.js') }}"></script>
    <script type="text/paperscript" canvas="graphCanvas" src="{{ url_for('static', filename='js/graph.js') }}"></script>
  </body>
</html>
