<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>HistoToolKit Graph</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>

  <body>
    <div id="master" class="center-items">
      <div id="sidebar">
        <img id="dropdown-option-1" class="dropdown-item" src="{{ url_for('static', filename='images/iconmonstr-globe-thin.svg') }}" alt="Operations" />
        <img id="dropdown-option-2" class="dropdown-item" src="{{ url_for('static', filename='images/iconmonstr-folder-thin.svg') }}" alt="Files" />
        <img id="dropdown-option-3" class="dropdown-item" src="{{ url_for('static', filename='images/iconmonstr-chart-22.svg') }}" alt="Nodes" />
      </div>

      <div id="menu">
        <div id="options-1" class="option-menu"></div>

        <div id="options-2" class="option-menu inactive">
          <div class="label">Active Folder</div>
          <input id="active-folder" type="text" name="active_folder" />

          <div class="h-separator"></div>

          <div id="file-list"></div>
        </div>

        <div id="options-3" class="option-menu inactive"></div>
      </div>

      <div id="viewer">
        <div id="tabs">
          <div id="tab-1" class="tab center-items">Graph</div>
          <div id="tab-2" class="tab center-items">Image</div>
          <div id="tab-3" class="tab center-items">Output</div>
          <div id="tab-4" class="tab center-items">Settings</div>
        </div>

        <div id="content">
          <div id="content-1">
            <canvas id="graphCanvas" resize></canvas>

            <div id="side-menu">
              <button id="run-button">
                <svg viewBox="-2 -2 28 28" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M7 9h-7v-7h1v5.2c1.853-4.237 6.083-7.2 11-7.2 6.623 0 12 5.377 12 12s-5.377 12-12 12c-6.286 0-11.45-4.844-11.959-11h1.004c.506 5.603 5.221 10 10.955 10 6.071 0 11-4.929 11-11s-4.929-11-11-11c-4.66 0-8.647 2.904-10.249 7h5.249v1z"/></svg>
              </button>

              <div id="info-menu">
                <div id="node-info" class="hidden">
                  <div id="node-title"></div>
                  <div id="node-description"></div>
                  
                  <div class="port-title">Params</div>
                  <div id="param-list" class="port-list"></div>
                  <div class="port-title">Outputs</div>
                  <div id="output-list" class="port-list"></div>
                </div>
              </div>
            </div>
          </div>

          <div id="content-2">
            <div id="osd-image-viewer-1" class="osd-image-viewer"></div>
          </div>

          <div id="content-3"></div>

          <div id="content-4"></div>
        </div>
      </div>
    </div>

    <!-- Javascript -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/paper-full.min.js') }}"></script>
    <script type="text/paperscript" canvas="graphCanvas" src="{{ url_for('static', filename='js/graph.js') }}"></script>


    <script src="{{ url_for('static', filename='js/openseadragon/openseadragon.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/openseadragon/openseadragon-viewerinputhook.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/openseadragon/openseadragon-imaginghelper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/openseadragon/openseadragon-scalebar.js') }}"></script>
  </body>
</html>
